<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        <div class="container">
            {{- partial "header.html" . -}}
            {{ if gt (len .TableOfContents) 80}}
                <div id="table-of-contents">
                    <h2> Index, <a href="#" class="nav-link">top</a> </h2> 
                    <div id="text-table-of-contents" class="not-a-text-link">
                        {{ .TableOfContents }}
                    </div>
                </div>
            {{ end }}
            <div id="content">
                {{- block "main" . }}
                {{- end }}
            </div>
        </div>
        <footer class="footer">
            {{- partial "footer.html" . -}}
        </footer>
    </body>
</html>
