{{ define "main" }}
{{ $dateTime := .PublishDate.Format "2006-01-02" }}
{{ $dateFormat := .Site.Params.dateFormat | default "2006-01-02" }}
    <div class="main-text">
        <h1>{{ if not .Params.nocat }}Category: {{ end }}{{ .Title }}</h1>
        {{ .Content }}
        <br/>
        {{ range .Pages.ByPublishDate.Reverse }}
            {{ with .Params.hide_from_list }}
            {{ else }}
                <div class="note-block">
                    <b><a href="{{ .RelPermalink }}">{{ .Title }}</a></b><br> <!-- class="title"  -->
                    [ 𝚺 ] {{ .Summary }}
                    <div class="metadata">
                        {{ with .Params.links }}
                            {{ range . }}
                            <a class="sticker" href="{{ .url }}">
                                {{ if .icon }}
                                <span class="nav-icon-link">
                                    <svg class="nav-link" viewBox="0 0 25 25"><use xlink:href="/icons.svg#{{ .icon }}"></use></svg>
                                </span>
                                {{ end }} {{ .name }}
                            </a> &nbsp;
                            {{ end }}<br/>
                        {{ end }}
                        <br style="display: block; margin: 3px;">
                        <div class="nav-icon-link">
                            <svg viewBox="0 0 25 25"><use xlink:href="/icons.svg#i-date"></use></svg>
                        </div>
                        Last update: <time datetime="{{ $dateTime }}">{{ .Lastmod.Format $dateFormat }}</time>.
                        {{ with .Params.tags }}
                            Tags: 
                            {{ range . }}
                                {{ $href := print (absURL "tags/") (urlize .) }}
                                <a class="nav-link" href="{{ $href }}">#{{ . }}</a>
                            {{ end }}
                        {{ end }}
                    </div>
                </div><br>
            {{ end }}
        {{ end }}
    </div>
{{ end }}
