{{ define "main" }}
{{ $dateTime := .PublishDate.Format "2006-01-02" }}
{{ $dateFormat := .Site.Params.dateFormat | default "2006-01-02" }}
<div class="main-text">
    <h1>{{ .Title }}</h1>
    <span class="metadata">
    {{ with .Params.links }}
        {{ range . }}
        <a class="sticker" href="{{ .url }}">
            {{ if .icon }}
                <span class="nav-icon-link">
                    <svg class="nav-link" viewBox="0 0 25 25"><use xlink:href="/icons.svg#{{ .icon }}"></use></svg>
                </span>
            {{ end }} {{ .name }}
        </a> &nbsp;
        {{ end }}
    {{ end }}

    {{ if .Lastmod }}
        <div class="nav-icon-link">
            <svg viewBox="0 0 25 25"><use xlink:href="/icons.svg#i-date"></use></svg>
        </div>
        Last update: <time datetime="{{ $dateTime }}">{{ .Lastmod.Format $dateFormat }}</time>.
    {{ end }}

    {{ with .Params.tags }}
        Tags: 
        {{ range . }}
            {{ $href := print (absURL "tags/") (urlize .) }}
            <a class="nav-link" href="{{ $href }}">#{{ . }}</a>
        {{ end }}
    {{ end }}
    </span>
    {{ .Content }}
</div>
<br/>
{{ end }}
