<div id="nav-panel" class="row">
    <hr class="topline"/>
        <input type="checkbox" id="checkbox">
        <label for="checkbox" class="menu-toggle">
            <svg viewBox="0 0 25 25"><use xlink:href="/icons.svg#hamburger"></use></svg>
        </label>
        <label for="checkbox" class="menu-toggle-text">
            {{ .Site.Title }} &mdash; Site menu
        </label>
        <nav>
            <ul id="nav-menu">
                {{ range .Site.Menus.main }}
                <li class="menu-item"><a class="nav-link" href="{{ .URL }}">
                    {{ $text := print .Name | safeHTML }}
                    {{ $text }}
                </a></li>
                {{ end }}
                <li class="menu-item"> ~ </li>
            <li class="menu-item">{{ range .Site.Menus.side }}
            <a class="nav-link nav-icon-link" href="{{ .URL }}">
                <svg viewBox="0 0 25 25"><use xlink:href="/icons.svg#{{.Name}}"></use></svg>
            </a>
            {{ end }}</li></ul>
        </nav>
</div>
<br/>
