{{ $dateTime := .PublishDate.Format "2006-01-02" }}
{{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
<div class="note-block">
    <div class="nav-icon-link">
        <svg viewBox="0 0 25 25"><use xlink:href="/icons.svg#i-date"></use></svg>
    </div>
    <time datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time>
    {{ with .Params.tags }}
    tags: 
    {{ range . }}
    {{ $href := print (absURL "tags/") (urlize .) }}
        [<a class="nav-link" href="{{ $href }}">{{ . }}</a>]
    {{ end }}
</div>
{{ end }}
